$mainBgColor: #f8f8f7;
$primaryColor: #ffffff;
$mainTextColor: #1d1d1d;
$primaryTextColor: #8c8c8c;
$buttonInfoColor: #ff868e;
$buttonBgColor: #fbe0dc;
$imageHoverColor: rgba(255, 134, 142, 0.6);
$likesBgColor: #97eab9;
$likesHoverColor: rgba(151, 234, 185, 0.3);
